/* Navbar Styles */
/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
    background-color: rgba(0, 0, 0, 0); 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 2%;
    width: 100%;
    z-index: 1000;
    border-radius: 10px;
  }
  
  /* La navbar è fissa, quindi aggiungi padding-top al contenuto per non sovrapporsi */
  body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    color: white;
    overflow-x: hidden;
  }
  
  .main-content {
    padding-top: 120px; /* Adjusta in base all'altezza della navbar */
  }
  
  .navbar-left {
    position: absolute;
    left: 40px;
    display: flex;
    align-items: center;
  }
  
  .navbar-left h1 {
    margin-left: 20px;
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
  }
  
  .navbar-left .logo {
    height: 80px;
    cursor: pointer;
  }
  
  .navbar-center {
    display: flex;
    gap: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .navbar-center a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s;
  }
  
  .navbar-center a:hover {
    color: #00bcd4;
  }
  
  .navbar-right {
    position: absolute;
    right: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .search-bar {
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-weight: lighter;
    outline: none;
    font-size: 14px;
    height: 40px;
    width: 280px;
  }
  
  .search-bar::placeholder {
    color: white;
    opacity: 0.7;
  }
  
  .settings-icon {
    height: 35px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .settings-icon:hover {
    transform: rotate(90deg);
  }
  
  #home {
    font-weight: bold;
  }
  
  #mappa {
    font-weight: bold;
  }
  
  #profilo {
    font-weight: bold;
  }
  
  #chiSiamo {
    font-weight: bold;
  }
  



  .profilo-link.disabled {
    color: gray;
    cursor: not-allowed;
  }
  
  .settings-icon {
    cursor: pointer;
  }
  
  .username {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  
  .profile-picture {
    width: 30px; 
    height: 30px;
    border-radius: 50%; 
    object-fit: cover;
  }



  .suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    color: black;
    border-radius: 2%;
    width: 80%;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f0f0f0;
}